<div class="row d-flex justify-content-center">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 text-center">
    <p><strong>Spot Name: </strong> <%= @surf_spot.spot_name %></p>
    <p><strong>Wind: </strong><%= @result['wind']['speed'] %> mph <%= @result['wind']['compassDirection']%></p>
    <p><strong>Swell Rating:</strong>
      <% @result['solidRating'].to_i.times do |star|%>
        <img src="http://cdnimages.magicseaweed.com/star_filled.png" />
      <% end %>
      <% @result['fadedRating'].to_i.times do |star|%>
        <img src="http://cdnimages.magicseaweed.com/star_empty.png" />
      <% end %>
    </p>
    <img src="<%= @result['charts']['swell'] %>" alt="swell" class="img-fluid shadow-sm p-3 mb-5 bg-white rounded">
  </div>
  <div class="col-lg-2"></div>
</div>
