#body {
  font-family: 'Amatic SC', cursive;
  font-size: x-large;
}

.navbar {
  background-color: #91DEDA;
}

#nav-bar-logo {
  font-size: x-large;
}

#page-title {
  font-size: 500%;
}

.dropdown {
  font-size: large;
}

#flash-row {
  border: 1px solid grey;
}
