<nav class="navbar navbar-expand-md navbar-light shadow mb-2">

  <a class="navbar-brand mr-4" id="nav-bar-logo" href="/"><strong>Surfs Up</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-inverse" id="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="inline-form col-sm-8 ml-4 pl-4" action="/msw" method="get"></form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <% if current_user.nil? %>
          <%= link_to 'Sign In', new_user_session_path %>
        <% else %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
